<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bi-directional communication</title>
    <script src="/javascripts/jquery_2_1_4.js"></script>
    <script src="/javascripts/cmd.js"></script>
</head>
<body>
<div id="output"></div>
<div id="send">
    <button id="sendtext">CMD Button</button>
</div>
</body>
</html>
