<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bi-directional communication</title>
    <script src="/javascripts/jquery_2_1_4.js"></script>
    <script src="/javascripts/cmd.js"></script>
</head>
<body>
<div id="output"></div>
<h3>GPIO Status</h3>
<div id="send">
    <button id="btn_off_gpio">OFF Button</button>
    <button id="btn_on_gpio">ON Button</button>
</div>
</body>
</html>
